/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; }
body { 
    width: auto;
    height: auto;
    margin: 0; 
    font-family: Roboto, 
    "Helvetica Neue", 
    sans-serif; 
    background-image: url('./assets/imgs/wall.png');
    background-repeat: no-repeat;
}
